/* site navigation */

.site-logo{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 20pt;
    color:white;
    margin-top: 60px;
    margin-left: 265px;

}


.site-navigation {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: 0;
    font-size: 14pt;
    list-style: none;
}


/* body */

header{
    display: block;
    margin: auto;
    background-color:white;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: url(../img/header.png);
    height: 900px;
    background-size: 100%;
}