@font-face {
    font-family: "droidserif italic";
    src: url(../fonts/DroidSerif-Italic.woff);
}
@font-face {
    font-family: "montserrat bold";
    src: url(../fonts/Montserrat-ExtraBold.woff);
}
@font-face {
    font-family: "montserrat regular";
    src: url(../fonts/Montserrat-Regular.woff);
}
@font-face {
    font-family: "robotoslab";
    src: url(../fonts/RobotoSlab-Regular.woff);
}
@font-face {
    font-family: "wisdomscript";
    src: url(../fonts/WisdomScriptAJ.woff);
}