@font-face {
    font-family: "kaushan";
    src: url(../fonts/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: "montserrat bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "roboto light italic";
    src: url(../fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}