.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.head-wrapper{
    background: url(../img/background-header.jpg);
    background-repeat: none;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 29px;
    padding-bottom: 230px;
}
.link{
    text-decoration: none;
}
.l-grid{
    list-style: none;
    margin-bottom: 0;
    margin-top: 11px;
    padding: 0;
}
.c-card__header{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 163px;
}
.c-card__list ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.c-card__logo{
    font-family: "montserrat bold";
    font-size: 30px;
    color: white;
}
.c-card__link{
    font-family: "montserrat";
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-left: 55px;
}
.l-grid__item:first-child{
    margin-left: 437px;
}
.c-card__link:hover{
    padding-bottom: 12px;
    color:#fce38a;
    border-bottom: 3px solid #fce38a;
}
.header-wrapper{
    text-align: center;
    width: 820px;
    margin: 0 auto;
}
.c-card__header__subtitle{
    font-family: "kaushan";
    font-size: 72px;
    color: white;
    margin-bottom: 32px;
}
.c-card__header__title{
    font-family: "montserrat bold";
    font-size: 143px;
    line-height: 140px;
    color: white;
    margin: 0 auto;
    margin-bottom: 125px;
}
.c-button__header{
    outline: none;
    cursor: pointer;
    background: none;
    padding: 12px 30px;
    border: 3px solid white;
    font-family: "montserrat bold";
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.c-button__header:hover{
    background-color: #fce38a;
}
.c-button__header:active{
    background-color: white;
    color:#fce38a;
    border-color:#fce38a;
}
.c-card__body__subtitle{
    font-family: "kaushan";
    font-size: 24px;
    text-align: center;
}
.c-card__body__title{
    font-family: "montserrat bold";
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 66px;
}
.c-card__body__title::after{
    content: " ";
    clear: both;
    display: block;
    background-color: #f38181;
    height: 3px;
    width: 60px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
}
.c-card__body__title:nth-child(odd){
    margin-bottom: 43px;
}
.c-card__flexbox__list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 93px;
}
.c-card__flexbox__item{
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.c-card__body__text{
    color: #999999;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.c-card__flexbox__text{
    color: #999999;
    font-family: "roboto";
    font-size: 15px;
    margin-top: 22px;
}
.c-card__flexbox__text {
    
}
.c-card__flexbox__name{
    font-family: "montserrat";
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.c-card__flexbox{
    width: 383px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.c-card__flexbox:nth-child(1){
    margin-bottom: 99px;
}
.c-card__footer__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    width: 1200px;
    height: 335px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
.item_name{
    width: 300px;
}
.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.figure{
    margin-top: 3px;
    margin-right: 30px;
}
h3{
    font-family: "montserrat";
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    color: #333333;
}
.text{
    font-family: "roboto";
    font-size: 15px;
    color: #999999;
    line-height: 25px;
    margin: 10px auto;
}
.section_heading{
    margin-top: 0px;
}
.about_us .section_heading_footer h4 {
    width: 960px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

.c-card__foto{
    background-image: url(../img/foto1-min.jpg);
    width: 380px;
    height: 470px;
    margin: 0px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform ;
    transition-property: transform ;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translate( 0px, 0px);
        -ms-transform: translate( 0px, 0px);
            transform: translate( 0px, 0px);
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__foto__second{
    background-image: url(../img/foto2-min.jpg);
    width: 380px;
    height: 470px;
    margin: 0px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform ;
    transition-property: transform ;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translate( 0px, 0px);
        -ms-transform: translate( 0px, 0px);
            transform: translate( 0px, 0px);
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__foto__last{
    background-image: url(../img/foto3-min.jpg);
    width: 380px;
    height: 470px;
    margin: 0px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform ;
    transition-property: transform ;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translate( 0px, 0px);
        -ms-transform: translate( 0px, 0px);
            transform: translate( 0px, 0px);
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__social {
    opacity: 0;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__foto:hover, .c-card__foto__last:hover, .c-card__foto__second:hover{
    -webkit-transform: translate( -10px, -10px);
        -ms-transform: translate( -10px, -10px);
            transform: translate( -10px, -10px);
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: -webkit-transform, -webkit-box-shadow;
    -o-transition-property: transform, box-shadow;
    transition-property: transform, box-shadow;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-box-shadow: 10px 10px  #95e1d3;
            box-shadow: 10px 10px  #95e1d3;
}
.c-card__effect:hover .c-card__social {
    opacity: 1;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__social ul{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 380px;
    height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.c-card__social ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;;
    list-style: none;
    height: 58px;
    width: 58px;
    background-color: #fce38c;
    outline: 1px #f9bd87 solid;
    position: relative;
}
.c-card__social ul li:hover {
    background-color: #95e1d3;
}
li img {
   position: absolute;
   top: 50%;
   left:50%;
   -webkit-transform: translate(-50% , -50%);
       -ms-transform: translate(-50% , -50%);
           transform: translate(-50% , -50%);
}
.c-card__effect {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
    background-image: -webkit-linear-gradient(bottom, #fce38a, #f38181);
    background-image: -o-linear-gradient(bottom, #fce38a, #f38181);
    background-image: linear-gradient(to top, #fce38a, #f38181);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__effect:hover{
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
    background-image: -webkit-linear-gradient(bottom, #fce38a, #f38181);
    background-image: -o-linear-gradient(bottom, #fce38a, #f38181);
    background-image: linear-gradient(to top, #fce38a, #f38181);
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.c-card__name {
    color: #333;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
    cursor: default;
    text-align: center;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.c-card__occupation {
    color: #999;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
    cursor: default;
    text-align: center;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.c-card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 287px auto 0 auto;;
    width: 1200px;
    height: 64px;
    border-top: 1px solid #e5e5e5;
}
.c-card__footer p{
    font-family: "montserrat";
    font-size: 14px;
    color: #333333;
    margin-top: 25px;
    margin-left: 10px;
}
.c-card__footer p span {
    color: #f38181;
}
.c-card__input {
    height: 20px;
    width: 210px;
    border: 1px solid #e7e7e7;
    margin-top: 12px;
    margin-right: 0;
    font-family: "roboto light italic";
    font-size: 15px;
    padding: 10px;
}
.c-card__input::-webkit-input-placeholder {
    color: #cccccc;
}
.c-card__input:-ms-input-placeholder {
    color: #cccccc;
}
.c-card__input::-ms-input-placeholder {
    color: #cccccc;
}
.c-card__input::placeholder {
    color: #cccccc;
}
.c-button__footer {
    height: 42px;
    width: 150px;
    margin: 0;
    border: none;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: "montserrat bold";
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transform: translateX(-3.5%);
        -ms-transform: translateX(-3.5%);
            transform: translateX(-3.5%);
}
.c-card__copyrights{
margin-right: 507px;
}