.page-title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9))), url('../img/background/background_1920x1000@x1-min.jpg') ;
    background-image: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@x1-min.jpg') ;
    background-image: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@x1-min.jpg') ;
    background-image: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@x1-min.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
    background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .page-title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9))), url('../img/background/background_1920x1000@2x-min.jpg') ;
    background-image: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@2x-min.jpg') ;
    background-image: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@2x-min.jpg') ;
    background-image: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@2x-min.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
    background-size: cover;
    }
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
    padding: 19px 9px;
}
.logo-link {
    font-family: "montserrat";
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
.nav__links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav__links li {
    padding-left: 52px;
}
.nav__links__menu-link {
    font-family: "montserrat";
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    padding-bottom: 
}
.nav__links__menu-link:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 8px;
}
.title {
    padding: 127px 10px 120px;
}
.title__h2 {
    font-family: "kaushan";
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}
.title__h1 {
    font-family: "montserrat";
    color: #ffffff;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 36px;
    width: 850px;
    text-transform: uppercase;
    line-height: 141px;
    letter-spacing: -5px;
}
.title__link {
    text-align: center;
}
.title__link--to-content {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "montserrat";
    font-size: 14px;
    cursor: pointer;
    border: 3px #ffffff solid;
    padding: 8px 27px;
}
.services__title, .team__title {
    padding: 23px 10px 0px;
}
.services__title h4, .team__title h4{
    font-family: "kaushan";
    color: #333333;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}
h4::first-letter {
    text-transform: uppercase;
}
.services {
    padding-top: 22px;
}
.services__title h3, .team__title h3{
    font-family: "montserrat";
    font-size: 30px;
    font-weight: 900;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    letter-spacing: -0.3px;
    padding-top: 15px;
}
.services__title h3::after, .team__title h3::after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 34px auto;
}
.services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}
.services__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 27px 5px 65px;
    width: 340px;
}
.services__card__svg{
    width: 32px;
    height: 32px;
}
.card__heading {
    font-family: "montserrat";
    font-size:  14px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    padding: 3px 20px;
}
.card__text, .team__text {
    font-family: "roboto";
    font-size: 15px;
    font-weight: 500;
    color: #999999;
    padding: 13px 0 0 23px;
    margin: 0;
    line-height: 21px;
}
.services__card__svg-wrapper {
    padding-top: 7px;
}
.team__text {
    padding: 13px 32px;
    margin: 0 auto;
    text-align: center;
    width: 1050px;
    
}
.card__name {
    font-family: "montserrat";
    font-size: 14px;
    font-weight: 800;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    padding-top: 26px;
    margin: 0;
}
.card__worker {
    font-family: "roboto";
    font-style: italic;
    font-size: 14px;
    color: #999999;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.social-svg {
    fill: #f38181;
    width: 60px;
    height: 60px;
    background-color: #fce38a;
    border: 0 ;
    padding: 10px;
}
.card__foto--effects{
    display: block;
    position: relative;
    width: 380px;
    height: 470px;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: -webkit-transform, -webkit-box-shadow;
    -o-transition-property: transform, box-shadow;
    transition-property: transform, box-shadow;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
}
.card__foto--effects:hover {
    -webkit-transform: translate( -10px, -10px);
        -ms-transform: translate( -10px, -10px);
            transform: translate( -10px, -10px);
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: -webkit-transform, -webkit-box-shadow;
    -o-transition-property: transform, box-shadow;
    transition-property: transform, box-shadow;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-box-shadow: 10px 10px  #95e1d3;
            box-shadow: 10px 10px  #95e1d3;
}
.icons-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    list-style: none;
    padding: 0;
}
.social-svg:hover {
    display: block;
    fill: #ffffff;
    background-color: #f38181;
}
.card__foto__icons:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9)));
    background-image: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252,227,138,0.9));
    background-image: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252,227,138,0.9));
    background-image: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9));
    width: 380px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
}
.card__foto__icons {
    width: 380px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
}
.icons-hover-item {
    display: none;
}
.card__foto__icons:hover .icons-hover-item {
    display: block;
}
.team__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1228px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 66px;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: #e5e5e5 2px solid;
    max-width: 1200px;
    margin: 0 auto;
}
.copyrights {
    font-family: "montserrat";
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.2px;
    padding-top: 7px;
}
.author {
    color: #f38181;
}
.footer-form__input {
    height: 20px;
    width: 230px;
    border: 1px solid #e7e7e7;
    font-family: 'roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    padding: 19px 10px;
    position: relative;
    left: 5px;
}
.footer-form__input::-webkit-input-placeholder {
    color: #cccccc;
}
.footer-form__input:-ms-input-placeholder {
    color: #cccccc;
}
.footer-form__input::-ms-input-placeholder {
    color: #cccccc;
}
.footer-form__input::placeholder {
    color: #cccccc;
}
.footer-form__btn {
    height: 40px;
    width: 150px;
    margin: 9px 0 0 0;
    border: none;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
}