header{
    text-transform: uppercase;
}
div.box1{
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 20px 50px 20px 20px;
    width: 40%;
}
div.box2{
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 20px 50px 20px 20px;
    width: 40%;
}
div.box3{
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 20px 50px 20px 20px;
    width: 40%;
}
div.box4{
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 20px 50px 20px 20px;
    width: 40%;
}

body{
    color: #626262;
}