html {
    box-sizing: border-box;
}
  .header {
    max-width: 1200px;
    margin-left: 28%;
    margin-right: 28%;
    line-height: 100px;
  }
  .site-navigation {
    margin: auto;
    font-family: 'Playfair Display', serif;
    list-style: none;
  }
  .site-navigation li {
    float: left;
  }
  .site-navigation a {
    display: block;
    padding: 0px 60px;
    font-size: 14pt;
    color:#626262; 
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navigation a:hover {
    color: #03a9f4;
  }
  .site-navigation a:focus {
    color: #ff4081;
  }
  .clearfix::after { 
    display: block;
    content: "";
    clear: both; 
  } 
h2 {
    font-size: 22pt;
    margin-top: 30px;
    margin-bottom: 40px;
}
figcaption{
  font-size: 14pt;
  margin-top: 30px;
  margin-bottom: 30px;
  color:#b4ad9e;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
}
.box{
width:420px;
color:#626262;
box-sizing: border-box;
float: left;
margin-right: 60px;
margin-bottom: 60px;
margin-top: 70px;
font-family: 'Playfair Display', serif;
}
.box:nth-child(2n) {
    margin-right: 0;
}
.img{
    margin: 0;
}
.more-link{
display: inline-block;
text-decoration: none;
color:#626262;
text-align: center;
font-family: 'Playfair Display', serif;
font-size: 20pt;
border: solid 1px #626262;
padding-top: 22px;
padding-right: 34px;
padding-bottom: 22px;
padding-left: 34px;
margin: 5px 43%;
}
.more-link:hover {
    color: #03a9f4;
    border-color: #03a9f4;
}
.more-link:focus {
    color: #ff4081;
    border-color: #ff4081;
}