//FONTS//
$main-font-stack: "montserrat", sans-serif;
$lead-font-stack: "roboto", sans-serif;
$text-font-stack: "kaushan", sans-serif;

// PRIMARY COLORS //
$primary-white-color: #ffffff;
$primary-dark-color: #333333;

// LINEAR GRADIENT COLOR //
$linear-gradient-color:  rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81);

// FORM PLACEHOLDER TEXT COLOR //
$placeholder-text-color: #cccccc;

// "SUBSCRIBE" BUTTON COLOR //
$subscribe-btn-color: #95e1d3;

// SECONDARY COLORS //
$secondary-color: #f38181;
$secondary-white-color: #e5e5e5;
$link-color: #fce38a;
$text-color: #999999;
